<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269353495756-86644tum21dg2n0e9vv6hipcfdee7854.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269353495756-86644tum21dg2n0e9vv6hipcfdee7854</string>
	<key>API_KEY</key>
	<string>AIzaSyCN65xTig8L4hM01srA9GEm0m9126GLhfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>269353495756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>akasianov88.ToDoFIRE</string>
	<key>PROJECT_ID</key>
	<string>todofire-1d855</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-1d855.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269353495756:ios:a5f7207a3c51c228192669</string>
</dict>
</plist>